# OS & Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# Logs
*.log
logs/
pnpm-debug.log*

# Environment & Secrets
.env
.env.local
.env.*.local
*.pem
*.key
*.crt
!.env.example

# Node.js / TypeScript
node_modules/
dist/
build/
.build/
coverage/
.turbo/
*.tsbuildinfo
.pnpm-store/

# Testing
junit.xml
*.lcov

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
!*.ci.tfvars
*.auto.tfvars
**/backend.hcl
!**/backend.hcl.example

# Firmware (PlatformIO)
.pio/
.pioenvs/
.piolibdeps/
firmware/esp32/.vscode/
*.elf
*.bin
*.hex

# Frontends (fases posteriores)
apps/web-admin/.next/
apps/web-admin/out/
apps/mobile/.expo/
*.apk
*.aab

# AWS artifacts
*.zip
.aws-sam/

# Misc
.cache/
tmp/
