{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@polaris/(.*)$",
    "",
    "[./]+errors/",
    "",
    "[./]+value-objects/",
    "",
    "[./]+entities/",
    "",
    "[./]+events/",
    "",
    "[./]+(types|interfaces)/",
    "",
    "[./]+schemas/",
    "",
    "[./]+repositories/",
    "",
    "[./]+(database|migrations)/",
    "",
    "[./]+(adapters|providers)/",
    "",
    "[./]+services/",
    "",
    "[./]+(dto|dtos)/",
    "",
    "[./]+(controllers|handlers)/",
    "",
    "[./]+modules/",
    "",
    "[./]+(guards|decorators|filters|pipes|interceptors)/",
    "",
    "[./]+middleware/",
    "",
    "[./]+(config|constants)/",
    "",
    "[./]+lib/",
    "",
    "[./]+utils/",
    "",
    "index\\.js$",
    "",
    "^[./]"
  ]
}
