node_modules
dist
.turbo
coverage
.build
*.log
.env
.env.*
!.env.example
iac/**/.terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
**/backend.hcl
!**/backend.hcl.example
.pio
firmware/esp32/.vscode
.DS_Store
